<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KELOMPOK 8 | UAS JARKOM 1</title>
    <!-- add icon link -->
    <link rel="icon" type="text/css" href="./asset/img/sttbwhite.png" type="image/x-icon" />

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="./asset/css/style.css" />

    <!-- icon -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- Swipper CSS -->
    <link rel="stylesheet" href="./asset/css/swiper-bundle.min.css" />
  </head>
  <body>
    <nav>
      <a href="#header" class="logo"> <img src="./asset/img/sttbwhite.png" alt="logo" class="logo" /></a>
      <ul>
        <li><a class="btn active" href="#tentang">Tentang</a></li>
        <li><a href="#anggota">Anggota</a></li>
        <li><a href="#alur">Alur</a></li>
        <li>
          <a href="#login">Login <i class="bx bx-log-in-circle"></i></a>
        </li>
      </ul>
      <label for="check" class="check">
        <input type="checkbox" id="check" />
        <span></span>
        <span></span>
        <span></span>
      </label>
    </nav>
    <!-- header -->
    <section class="container" id="header">
      <header class="header">
        <div class="item1 text">
          <h2 class="heading">Selamat Datang</h2>
          <h2 class="name-company">Di Website Cloud</h2>
          <div class="typewriter" id="myTypewriter">
            <h3 class="sub-heading">Kelompok 8 UAS JARKOM</h3>
          </div>
          <div class="button">
            <a href="#tentang"><div class="button-primary">Info</div></a>
            <a href="#login"
              ><div class="button-secondary"><i class="bx bx-log-in-circle"></i></div
            ></a>
          </div>
        </div>
        <!-- <div class="item2 image"></div> -->
      </header>
    </section>
    <!-- end header -->

    <!-- section service -->
    <section class="services" id="tentang">
      <h1 class="title-service">TENTANG</h1>
      <div class="services-container">
        <div class="service">
          <h2>Lorem1</h2>
          <p class="service-paragraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptatibus nobis voluptates modi aperiam facilis!</p>
        </div>
        <div class="service">
          <h2>Lorem2</h2>
          <p class="service-paragraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptatibus nobis voluptates modi aperiam facilis!</p>
        </div>
        <div class="service">
          <h2>Lorem3</h2>
          <p class="service-paragraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptatibus nobis voluptates modi aperiam facilis!</p>
        </div>
      </div>
    </section>
    <!-- end section service -->

    <!-- section client -->
    <section class="container-client" id="anggota">
      <!-- new : mySwiper -->
      <div class="client mySwiper">
        <!-- new : swiper-wrapper -->
        <h2 class="title-client">ANGGOTA KELOMPOK 8</h2>
        <div class="client-content swiper-wrapper">
          <!-- new : swiper-slide -->
          <div class="slide swiper-slide">
            <img src="./asset/img/client1.png" alt="" class="img-client" />
            <!-- <p>very exellent, the service its so fast, fun and good for customer. You must try.</p> -->
            <i class="bx bxs-quote-alt-left quote-icon"></i>
            <div class="details">
              <span class="name">Annisa Qolbiah</span>
              <span class="job">Backend Developer</span>
            </div>
          </div>
          <div class="slide swiper-slide">
            <img src="./asset/img/foto-profile-green.png" alt="" class="img-client" />
            <!-- <p>very exellent, the service its so fast, fun and good for customer. You must try.</p> -->
            <i class="bx bxs-quote-alt-left quote-icon"></i>
            <div class="details">
              <span class="name">Albi Mudakar Nasyabi</span>
              <span class="job">Frontend Developer</span>
            </div>
          </div>
          <div class="slide swiper-slide">
            <img src="./asset/img/client1.png" alt="" class="img-client" />
            <!-- <p>good and very fast the respon</p> -->
            <i class="bx bxs-quote-alt-left quote-icon"></i>
            <div class="details">
              <span class="name">Dea</span>
              <span class="job">Report Documentation</span>
            </div>
          </div>
          <div class="slide swiper-slide">
            <img src="./asset/img/client1.png" alt="" class="img-client" />
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quas, cupiditate similique veniam quaerat incidunt doloribus! Magnam ab et labore.</p> -->
            <i class="bx bxs-quote-alt-left quote-icon"></i>
            <div class="details">
              <span class="name">Adrian Fajri</span>
              <span class="job">Research Asset</span>
            </div>
          </div>
          <!-- End slider -->
        </div>
        <!-- new : 3 -->
        <div class="swiper-button-next nav-btn"></div>
        <div class="swiper-button-prev nav-btn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <!-- end section client -->

    <!-- Sosial Media -->
    <section class="container-socialmedia" id="alur">
      <h2 class="socialmedia-title">ALUR SISTEM CLOUD</h2>
      <div class="social-media">
        <a href="" class="link-item"><i class="bx bx-devices sm-item"></i></a>
        <a href="" class="link-item"><i class="bx bx-folder sm-item"></i></a>
        <a href="" class="link-item"><i class="bx bx-up-arrow-alt sm-item"></i></a>
        <a href="" class="link-item"><i class="bx bx-cloud sm-item"></i></a>
        <a href="" class="link-item"><i class="bx bx-down-arrow-alt sm-item"></i></a>
        <a href="" class="link-item"><i class="bx bx-folder sm-item"></i></a>
        <a href="" class="link-item"><i class="bx bx-devices sm-item"></i></a>
      </div>
    </section>
    <!-- End Sosial Media -->

    <!-- Footer -->
    <footer class="container-footer" id="footer">
      <div class="footer-heading">
        <div class="item-footer">
          <h5 class="title-footer">Bagian</h5>
          <li><a href="#login">Login</a></li>
          <li><a href="#tentang">Tentang</a></li>
          <li><a href="#anggota">Anggota</a></li>
          <li><a href="#alur">Alur</a></li>
        </div>
        <div class="item-footer">
          <h5 class="title-footer">Source Code</h5>
          <div class="container-icon">
            <li>
              <a href="" target="_blank"><i class="bx bxl-dropbox footer-icon"></i></a>
            </li>
            <li>
              <a href="" target="_blank"><i class="bx bxl-github footer-icon"></i></a>
            </li>
            <li>
              <a href="" target="_blank"><i class="bx bxl-gitlab footer-icon"></i></a>
            </li>
          </div>
        </div>
        <div class="item-footer">
          <h5 class="title-footer">Kampus</h5>
          <a href="https://goo.gl/maps/tGChb5k4qodhyzSk7" target="_blank" class="alamat">Sekolah Tinggi Teknologi Bandung</a>
        </div>
      </div>
    </footer>

    </svg>
    
    <!-- End Footer -->
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#3a3a3b" fill-opacity="1" d="M0,64L40,74.7C80,85,160,107,240,106.7C320,107,400,85,480,101.3C560,117,640,171,720,186.7C800,203,880,181,960,144C1040,107,1120,53,1200,32C1280,11,1360,21,1400,26.7L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">\
        </path>
    </svg> -->

    <p class="developer">Made with<i class="bx bxs-heart icon-heart"></i> By KELOMPOK 8</p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#538059" fill-opacity="1" d="M0,64L40,74.7C80,85,160,107,240,106.7C320,107,400,85,480,101.3C560,117,640,171,720,186.7C800,203,880,181,960,144C1040,107,1120,53,1200,32C1280,11,1360,21,1400,26.7L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
    </svg>
    <!-- Swipper JS -->
    <script src="./asset/js/swiper-bundle.min.js"></script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="./asset/js/script.js"></script>
  </body>
</html>
